.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.header-box{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: black;
    color: #fff;
    padding: 0 13px;
    margin-top: 30px;
}

.header-box__card{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    cursor: pointer;


}
.header-nav{
    display: flex; 
    justify-content: space-between; 
}

.header-nav__item{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: var(--head-inner-pad,0);
    height: 100%;

    list-style: none;

}
.header-nav__item--list{
    cursor: pointer;
}
.header-nav__item--list-select{
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
}