
.card--dunyo{
    width: 770px;

}
.card--dunyo__heading{
    font-size: 19px;
    margin-left: 10px;
    padding-left: 14px;
    border-left: 3px solid #008ccc;
    color: #161616;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
    width: 770px;
    margin-top: -3px;
}

.card--dunyo__box{
    display: flex;
    justify-content: space-between;
    width: 770px;
}

.card--dunyo__box--wrapper{
    background-image: url(https://daryo.uz/static/2023/10/medium-651e424f6bccd.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    width: 367px;
    height: 218.45px;
    position: relative;
    
}


.card--dunyo__box--wrapper--text{
    background-color: #008ccc;
    width: 52.53px;
    padding: 0 8px;
    font-size: 10px;
    border-radius: 1px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .03em;
    line-height: 22px;
    position: relative;
    top: 187px;
}



.card--dunyo__box--wrapper--heading{
    color: #161616;
    font-size: 17px;
    width: 367px;
    cursor: pointer;

}

.card--dunyo__box--wrapper--heading:hover{
color: #008ccc;
}

.card--dunyo__box--wrapper--span{
    font-size: 10px;
    color: #212121;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .03em;
}

.card--dunyo__box--wrapper--dec{
    width: 367px;
    color: #505050;
    line-height: 20px;
}


.card--dunyo__box--btn{
    width: 729px;
    line-height: 18px;
    padding: 4px 0;
    background-color: #008ccc;
    border: none ;
    cursor: pointer;
    height: 40px;
    border-radius: 1px;
    margin: 30px 0 20px 0;


}

.card--dunyo__box--btn:hover{
    color: #fff;
    border: 1px solid #000;
}

.card--dunyo__box--wrapper--text1{
    color: #000;
    position: relative;
    top: -36px;
    background-color: #008ccc;
    width: 52.53px;
    padding: 0 8px;
    font-size: 10px;
    border-radius: 1px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .03em;
    line-height: 22px;
}
.dunyo-reklama--img{
    width: 770px;
}


@media only screen and (max-width:768px) {
    .card--dunyo{
        width: 716px;
    
    }  

    .card--dunyo__box{
        display: flex;
        justify-content: space-between;
        width: 680px;
        margin-bottom: 36px;
    }

    .card--dunyo__heading{
        font-size: 19px;
        margin-left: 10px;
        padding-left: 14px;
        border-left: 3px solid #008ccc;
        color: #161616;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 40px;
        width: 680px;
        height: 38px;
        margin-top: -3px;
    }

    .card--dunyo__box--wrapper{
        background-image: url(https://daryo.uz/static/2023/10/medium-651e424f6bccd.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        cursor: pointer;
        width: 322px;
        height: 191.66px;
        position: relative;
        
    }

    .card--dunyo__box--wrapper--heading{
        width: 322px;
    }

    .card--dunyo__box--wrapper--dec{
        width: 322px;
    }

    .card--dunyo__box--btn{
        width: 647px;
        line-height: 18px;
        padding: 4px 0;
        background-color: #008ccc;
        border: none ;
        cursor: pointer;
        height: 40px;
        border-radius: 1px;
        margin: 30px 0 20px 0;
    }

    .dunyo-reklama--img{
        width: 680px;
    }
}