.aside {
    width: 380px;
}

.aside-card {
    background-color: #008ccc;
}


.aside-card--heading {
    padding: 5px;
    font-size: 18px;
    margin-top: 0;


}

.text--span {
    border-top: 3px solid#008ccc;
    margin-right: 330px;

}

.aside-card--text {
    border-top: 2px solid #efeffe;
    margin-top: -16.3px;
}

.aside-box {
    overflow-y: scroll;
    height: 500px;
}

.aside-box--card1 {
    display: flex;
    align-items: center;
    padding: 6px;
    justify-content: space-between;

}


.aside-box--card1__heading {
    width: 206px;
    height: 60.4px;
    font-size: 14px;
    cursor: pointer;
}

.aside-box--card1__heading:hover {
    color: #008ccc;
}

.aside-box--card1__text {
    font-size: 12px;

    /* margin-top: 8px; */
}

.aside-box--card1__img {
    width: 92px;
    height: 69px;
    cursor: pointer;
}

.aside-box1--card1 {
    display: flex;
    padding: 6px;
    justify-content: space-between;
    gap: 0;
}

.aside-box1--card1__heading {
    width: 226px;
    height: 60.4px;
    font-size: 14px;
    cursor: pointer;
}

.aside-box1--card1__heading:hover {
    color: #008ccc;
}

.aside-box1--card1__text {
    font-size: 12px;

}

.aside-card__moliya--img {
    width: 336px;
    height: 200px;
    cursor: pointer;
}

.img-box {
    background-image: url(https://daryo.uz/static/2023/10/medium-651998f2f27b9.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    margin-top: 35px;
}

.img-box__text {
    position: relative;
    background-color: #008ccc;
    color: #000;
    top: 182px;
    font-size: 16px;
    left: 0;
    width: 82.1px;
    padding: 0 8px;
    cursor: pointer;
}

.aside-box1--card3__heading {
    cursor: pointer;
}

.aside-box1--card3__heading:hover {
    color: #008ccc;
}


.aside-box4--oqilgan {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside-box4--oqilgan__bordertext {
    background-color: #008ccc;
    border-radius: 50%;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    margin-top: -45px;
}

.aside-box4--oqilgan__heading {
    cursor: pointer;
    width: 292px;
    font-size: 15px;

}

.aside-box4--oqilgan__heading:hover {
    color: #008ccc;
}

.aside-box4--oqilgan__text {
    font-size: 10px;
}

@media only screen and (max-width:939px) {
    .aside {
        width: 680px;
        margin-top: 50px;
    }  

    .text--span{
        width: 40px;
        border: 3px solid #008ccc;
    }

    .aside-box--card1 {
        display: flex;
        align-items: center;
        width: 660px;
        padding: 0px;
        
    
    }
    .aside-box--card1__heading{
        width: 550px;
        height: 40.4px;
        font-size: 16px;
        color: #161616;
        cursor: pointer;
    }
   .aside-box1--card1{
    display: flex;
    width: 680px;
    height: 69px;
    margin-bottom: 20px;
    padding: 0px;
   }

   .aside-box1--card1__heading{
    width: 570px;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 0 ;

   }

   .img-box{
    background-image: url(https://daryo.uz/static/2023/10/medium-651998f2f27b9.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 404px;
    width: 680px;
    margin-top: 35px;
   }

   .aside-box1--card1{
    width: 680px;
   }


   .aside-box4--oqilgan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
   }

   .aside-box4--oqilgan__heading{
    cursor: pointer;
    width: 636px;
    font-size: 15px;
   }

   .aside-box4--oqilgan__bordertext{
    margin-top: -15px;
    font-size: 20px;
    padding: 10px;
    height: 25px;
    width: 25px;
   }
}

@media only screen and (max-width:768px) {
    .aside {
        width: 680px;
        margin-top: 50px;
    }  
    .text--span{
        width: 40px;
        border: 3px solid #008ccc;
    }

    .aside-box--card1 {
        display: flex;
        align-items: center;
        width: 660px;
        padding: 0px;
        
    
    }
    .aside-box--card1__heading{
        width: 550px;
        height: 40.4px;
        font-size: 16px;
        color: #161616;
        cursor: pointer;
    }
   .aside-box1--card1{
    display: flex;
    width: 680px;
    height: 69px;
    margin-bottom: 20px;
    padding: 0px;
   }

   .aside-box1--card1__heading{
    width: 570px;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 0 ;

   }

   .img-box{
    background-image: url(https://daryo.uz/static/2023/10/medium-651998f2f27b9.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 404px;
    width: 680px;
    margin-top: 35px;
   }

   .aside-box1--card1{
    width: 680px;
   }


   .aside-box4--oqilgan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
   }

   .aside-box4--oqilgan__heading{
    cursor: pointer;
    width: 636px;
    font-size: 15px;
   }

   .aside-box4--oqilgan__bordertext{
    margin-top: -15px;
    font-size: 20px;
    padding: 10px;
    height: 25px;
    width: 25px;
   }
}